﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        @Html.Partial("_SuperAdminSidePanel")

        <div id="content">
            <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
                <div class="container-fluid">

                    <a id="sidebarCollapse" class="navbar-brand btn pt-3">
                        <img src="~/Content/menu-button.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                    </a>
                    <a class="navbar-brand" href="../">
                        <img src="~/Content/church.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                    @Html.ActionLink("Saint Stephanous School", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">

                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </nav>
            <br />
            <div>
                @RenderBody()
                <br />
                <br />
                <hr />
                <footer class="text-center">
                    <p>&copy; @DateTime.Now.Year - St.Stephanous IT Team</p>
                    <small class="text-muted">Version 0.3 - 27th of September</small>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
